.field--name-field-address {
  margin-bottom: 2rem;
}
h2 {
  margin: 2.4rem 0;
}

.label-location {
  margin-top: -16px;
}

.field--name-field-email-address,
.field--name-field-telephone {
  line-height: 2;
  display: inline-block;
}
